<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h3 class="text-center">修改学生</h3>
    <hr>
    <form class="form-horizontal" role="form" method="post" th:action="@{/update}">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">学号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="id" id="id" placeholder="请输入学号" th:value="${people.id}">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label" >姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" placeholder="请输入姓名" th:value="${people.name}">
            </div>
        </div>
        <div class="form-group">
            <label for="score" class="col-sm-2 control-label">成绩</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="score" id="score" placeholder="请输入成绩" th:value="${people.score}">
            </div>
        </div>
        <div class="form-group">
            <label for="enrolldate" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="enrolldate" id="enrolldate" placeholder="请输入日期" th:value="${#dates.format(people.enrollDate, 'yyyy/MM/dd')}">
            </div>
        </div>
        <div class="form-group">
            <label for="img" class="col-sm-2 control-label">头像</label>
            <div class="col-sm-2">
                <img th:src="@{/upload/{id}(id=${people.getPhoto()})}" alt="">
            </div>
            <div class="col-sm-8">
                <input type="file" class="form-control" name="img" id="img" placeholder="请传输文件">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">确认添加</button>
                <button type="button" class="btn btn-warning" id="return">返回</button>
            </div>
        </div>
    </form>
</div>
<script>
    $("#reBack").click(function () {
        window.location.href="http://localhost/people";
    });
</script>


</body>
</html>