<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:replace="~{common::myheader}"></div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>identify</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t:${tea}">
            <td th:text="${t.id}">id</td>
            <td th:text="${t.name}">name</td>
            <td th:text="${t.age}">age</td>
            <td th:text="${t.identity}">identity</td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{common::leftBar}"></div>
    <div th:replace="~{common::endBar}"></div>
</div>

</body>
</html>